.body {
    background-color: var(--beige);
}

.container {
    margin: 6rem 10rem 6rem 10rem;
    padding: 40px;
    border: 4px solid var(--black);
    box-shadow: 8px 8px 0px 0px var(--black);
    background-color: var(--white);
}

.profile-container > * {
    flex: 1;
    margin: 0 10px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    display: flex;
}

.profile-picture img {
    overflow: hidden;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.image-wrapper {
    position: relative; /* Necessário para posicionar o texto sobre a imagem */
    display: inline-block;
}

/* Estilização da imagem */
.profile-picture {
    cursor: pointer;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.profile-picture:hover {
    filter: grayscale(100%);
    opacity: 0.7;
}

/* Texto invisível por padrão */
.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Faz com que o texto não interfira no hover */
}

/* Exibir o texto no hover */
.image-wrapper:hover .hover-text {
    opacity: 1;
}

.profile-container {
    display: flex;
    align-items: center;
}

.title {
    font-weight: 900;
    font-size: 200%;
    text-transform: uppercase;
}

.profile-details h2 {
    padding: 10%;
}

.contact-button {
    border: 5px solid var(--black);
    box-shadow: 8px 8px 0 #333;
    font-weight: 900;
    font-size: 200%;
    color: var(--white);
    font-family: "Work Sans", sans-serif;
    padding: 2rem;
    text-transform: uppercase;
    background-color: var(--black);
}

.contact-button:active {
    transform: scale(0.95);
    box-shadow: none;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
}

.description {
    width: 100%;
    max-width: 700px;
    border: 5px solid var(--black);
    box-shadow: 8px 8px 0 var(--black);
    font-weight: 500;
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    padding: 2rem;
    background-color: var(--white);
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
